.btn-float{
    border-radius: 0.9rem;
    width: 6rem;
    height: 4.2rem;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}


.custom-text{
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
}