.uploadBtn-row{
    margin-left: 0rem;
    margin-right: 0rem;
   align-items: center;
}

.btn-float{
    border-radius: 0.9rem;
    background-color: blueviolet;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    border-color: blueviolet;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

.btn-float:hover{
    background-color: rgb(92, 8, 170) ;
    border-color: rgb(92, 8, 170) ;
}

.custom-text{
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
}